*{
    margin: 0;
    padding: 0;
 
}
    body{
    background: rgb(16,45,147);
   
    
}
    header{
    display: block;
    width: 100%;
    height: 20vh;
    background-color: white;
}
    #logo{
    width: 25vh;
    z-index: 1;
    margin-top: 3vh;
    
}
    #cadastro{
        display: block;
    width: 20vh;
    margin-top: 10vh;
    height: 50vh;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    margin-right:10vh ;
    }
    #tabela{
        background-color: aliceblue;
        margin-top: 10vh;
        
    }
    #titulo-cadastro{
        margin-top: 2vh;
        text-align: center;
        
    }
    #login{
        background-image: url("./contents/login-background.png");
        background-size: cover;
        background-position: center ;
    }
    #login-form{
        display: block;
        width: 80vh;
        height: 50vh;
        float: right;
        margin-top: 5vh;
        border-radius: 10px;
        background: #ebebebda;
        box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    }
    .input-login{
        width: 75vh;
    }
    #conteudo{
        margin-top:5vh;
    }
   #conteudo-form{
    float: right;
   }

   #contents{float: right;
   width: 80vh;
   margin-right: 20vh;
   margin-top: 15vh ;

   }
    #title-admin{
        text-align: center;
    }
    .menu{
       text-align: center;
       margin-top: 10vh;
       color: black;

    
       
       
       

    }
    .cards{
        display: block;
        margin: 10px;
        background: #FFFFFF;
       height: 250px;
       width: 550px;
      left: 0px;
      top: 0px;
      border-radius: 10px;
      

       
    }
    .redirectIMG{
        width: 150px;
        margin-top: 30px;
    }
    #home-body{
        background-image: url("./contents/homeFundo.png");
        background-size: cover;
        background-position: center ;
        
    }
    .cards:hover{
        background: #e2e2e2;
        border-radius: 10px;
    }
   .linkHome{
    margin-top: 1rem;
   }
   #container{
    width: 900px;
   }
   #form{
    margin-top: 5vh;
   }
    
  